/*
Eric Garcia
1309 ASD
*/

*{
	line-height: 1.5em;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
}

.ui-body-c, .ui-overlay-c{
	background-image: url(../img/wood_02.jpg);
	background-repeat:repeat;
	background-position:center center;
}

.ui-panel-display-reveal {
background: url(../img/wood_01.jpg);
}

h1 {
	/*color: white;*/
	font-size: 2em;
	font-weight: normal;
}

h2 {
	margin: 10px 5px 0 0;
	font-size: 1.7em;
}

h3 {margin: 10px 5px 0 0; font-size: 1.2em}

p{margin: 15px 5px 5px 15px; font-size: 1.1em}

ul{list-style-type: none;}


@media (min-width:35em){

	/* wrap on wide viewports once open */
	
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-left,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-left,
	.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-left,
	.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-left {
		margin-right: 17em;
	}
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push.ui-panel-content-fixed-toolbar-position-right,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal.ui-panel-content-fixed-toolbar-position-right,
	.ui-page-panel-open .ui-panel-content-wrap-display-push.ui-panel-content-wrap-position-right,
	.ui-page-panel-open .ui-panel-content-wrap-display-reveal.ui-panel-content-wrap-position-right {
		margin-left: 17em;
	}
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-push,
	.ui-page-panel-open .ui-panel-content-fixed-toolbar-display-reveal {
		width: auto;
	}
	
	/* disable "dismiss" on wide viewports */
	.ui-panel-dismiss {
		display: none;
	}
	/* same as the above but for panels with display mode "push" only */
	.ui-panel-dismiss-display-push {
		display: none;
	}

}

